.form-container {
    width: 100%;
    background: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #000;
    margin-top: 100px ;
}
.form-group h1{
    font-family: Helvetica;
    color: #352E80;
}
.form-group input {
    border-radius: 2px;
    text-align: center;
}
.form-group a {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}