@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/hallington-swash');
body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;

   }

#myNavbar ul li{
   padding-right: 20px;
}

#myNavbar ul li a{
    font-weight: 600;
    text-transform: uppercase;
    color: #000000 !important;
    line-height: 19px;
 }
 #logotext {
    font-family: 'Hallington', sans-serif;
    font-size: 50px;
 }
 .d-lg-inline-block{
     background-image: url("../img/logoos.jpg");
     background-color: #cccccc;
     background-repeat: no-repeat;
     background-size: cover;
 }

